<h1>Welcome to Will's apps!</h1> 
<h3>Click one of the links below to try them out</h3>
<ul>
  <li><%= link_to "Idea Bubbles", idea_bubbles_path %></li>
  <li><%= link_to "Travel Tracker", travel_tracker_path %></li>
</ul>