<%= high_chart("some_id", @chart) %>

<h2>Idea list</h2>
<p><%= link_to "Create a new idea", :controller => "ideas", :action => "new" %></p>

<table>
  <tr>
    <th>Idea</th>
    <th>Industry</th>
  </tr>
  <% @ideas.each do |i| %>
  <tr>
    <td><%= i.name %></td>
    <td><%= i.industry %></td>
    <td>edit |</td>
    <td>delete</td>
  </tr>
  <% end %>
</table>
